.intro-section {
    text-align: center;
    font-size: 18px;
    padding: 30px;
    margin-top: 10px;
}

.officials-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.official-card {
    margin: 10px;
    text-align: center;
}

.official-image {
    width: 350px;
    max-width: 400px;
    height: 300px;
    max-height: 400px;
}

.official-name {
    margin-bottom: -15px;
    font-size: 20px;
    margin-top: 3px;
}

.official-position {
    font-size: 12px;
    margin-top: 20px;
}

.view-details-button {
    margin-top: 5px;
    background-color: #213555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.details-container {
    color: #213555;
    font-weight: bold;
    font-size: 18px;
}

.close-button {
    margin: 10px auto;
    background-color: #213555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}