.main-title {
  align-items: center;
  text-align: center;
}

.main-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.paper-container {
  margin: 10px;
}

.card1 {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 150px;
  background-color: #829ca6; /* Light SkyBlue with 70% opacity */
}

.card2 {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #829ca6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  height: 150px;
}

.card3 {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #829ca6;
  text-align: center;
  width: 1200px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card4 {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #829ca6;
  text-align: center;
  width: 600px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card5 {
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #829ca6;
  text-align: center;
  width: 1900px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.line-chart {
  margin: 20px;
}

.table {
  margin: 20px;
}

.additional-papers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  flex-direction: row; /* Align cards in one row */
  justify-content: space-around;
}
