.gridItem2 {
  width: auto;
  height: auto;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  height: auto;
  background-color: #213555;
  opacity: 0.8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.stmt1 {
  margin-top: 50px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  color: #fff;
}

.stmt2 {
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

.stmt3 {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: justify;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.stmt4 {
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.comlogo {
  text-align: center;
  padding: 0%;
}

.togetherlogo {
  width: 15vw;
}


/* ========================================== */

.container1 {
  width: 80vw;
  height: auto;
  background-color:#ffffff;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  margin-top: 30px;
}

.container2 {
  width: 80vw;
  height: auto;
  background-color:#ffffff;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  margin-top: 30px;
}

.aboutus1 {
  margin-top: 50px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  color:#213555;
}

.aboutus2 {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color:#213555;
}

.member1 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#7FAAED;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  
}

.member2 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#213555;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
}

.member3 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#7FAAED;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  
}

.member4 {
  width: 400px;
  height: 400px;
  background-color:#213555;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  
}

.membernamesodd {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color:#000000;
}

.membernameseven {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color:#ffffff;
}

.memberdescriptionodd {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color:#213555;
}

.memberdescriptioneven {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color:#ffffff;
}

.servicesbox {
  width: 550px;
  height: 300px;
  margin-right: 20px;
  margin-top: 10px;
  background-color:#ffffff;
  border: 1px solid;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
}

.servicesbox2 {
  width: 550px;
  height: 300px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:#ffffff;
  border: 1px solid;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
}

.serviceboxdescription {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color:#213555;
}

.contact {
  width: 80vw;
  height: auto;
  background-color:#213555;
  opacity:0.8;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  margin-top: 30px;
}

.contactdescription1 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color:#ffffff;
}

.contactdescription2 {
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color:#ffffff;
}

.contactbox {
  width: 550px;
  height: 150px;
  margin-right: 20px;
  margin-top: 20px;
  background-color:#213555;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
}

.profilecontainer1 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#7FAAED;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  
}
.profilecontainer1::after {
  content: attr(data-motto);
  position: absolute;
  background-color: #333745; 
  border: 1px solid #ddd; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; 
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.3s; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
}
.profilecontainer1:hover::after {
  opacity: 1;
}

.profilecontainer2 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#3F5476;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.profilecontainer2::after {
  content: attr(data-motto);
  position: absolute;
  background-color: #333745; 
  border: 1px solid #ddd; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; 
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.3s; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
}
.profilecontainer2:hover::after {
  opacity: 1;
}

.profilecontainer3 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#7FAAED;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  
}
.profilecontainer3::after {
  content: attr(data-motto);
  position: absolute;
  background-color: #333745; 
  border: 1px solid #ddd; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; 
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.3s; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
}
.profilecontainer3:hover::after {
  opacity: 1;
}

.profilecontainer4 {
  width: 400px;
  height: 400px;
  margin-right: 10px;
  background-color:#3F5476;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.profilecontainer4::after {
  content: attr(data-motto);
  position: absolute;
  background-color: #333745; 
  border: 1px solid #ddd; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; 
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  transition: opacity 0.3s; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
}
.profilecontainer4:hover::after {
  opacity: 1;
}

