.eventlist-bg {
  background: #213555;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.eventlist-title {
  font-size: 60px;
  color: white;
  margin: 50px;
}
.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.input-design {
  width: 500px;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;
}

.input-design::-webkit-calendar-picker-indicator {
  display: none;
}

.event-list-paper {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 60px;
}

.event-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #213555;
  text-align: center;
  width: 320px;
  height: auto;
}

.event-confirmation-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #213555;
  text-align: center;
  width: auto;
  height: auto;
}

.input-popup {
  width: 280px;
  height: 40px;
  background-color: #ffffff;
  border: #a8a2a2 2px solid;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.big-input-popup {
  width: 280px;
  height: 80px;
  background-color: #ffffff;
  border: #a8a2a2 2px solid;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.event-delete-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #213555;
  width: 300px;
  text-align: center;
}
.event-delete-popup p {
  font-size: 20px;
}


