.eventlist-bg {
  background: #213555;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.eventlist-title {
  font-size: 60px;
  color: white;
  margin: 60px;
}
.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.input-design {
  width: 500px;
  height: 40px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  color: white;
  font-size: 18px;
}

.event-card {
  width: 80%;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.event-list-paper {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 50px;
}
