body {
    background-color: #ffffff;
  }
  
  .left-containerb1 {
    height: calc(100vh - 64px);
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 40px;
  }
  
  .image-containerb1 {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 150px;
  }
  
  .descriptionb1 {
    font-size: 18px;
    color: #a8a2a2;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .header-textb1 {
    font-weight: 800;
    font-size: 37;
    color: #213555;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 15px;
  }
  
  .importantannouncementb1 {
    margin-top: -5px;
    height: fit-content;
  }
  
  .importantannouncement-boxb1 {
    border: 2px solid #333;
    padding: 0%;
    display: inline-block;
    width: 100%;
    background-color: #213555;
    margin-top: 5px;
  }
  
  .submit-announcementb1 {
    height: 50vh;
    margin-right: 50%;
    margin-bottom: 100px;
  }
  
  .title-inputb1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #a8a2a2;
    /* box-sizing: border-box; */
    /* width: 100%; */
    width: 97%;
    height: 50px;
    margin-left: 8px;
    font-weight: bold;
    font-size: large;
  }
  
  .announcement-dateb1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #a8a2a2;
    box-sizing: border-box;
    width: 98%;
    height: 50px;
    margin-top: auto;
    margin-left: 8px;
    font-weight: bold;
    font-size: large;
  }
  
  .content-detailsb1 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #a8a2a2;
    box-sizing: border-box;
    width: 100%;
    margin-left: 8px;
    height: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: large;
  }
  
  .submit-checkbuttonb1 {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .submit-button-anotherannb1,
  .submit-button-homeb1 {
    height: 30px;
    width: 400px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  
  .announcement-submitb1 {
    margin-top: 10px;
    text-align: center;
  }
  
  .title-inputb1,
  .announcement-dateb1,
  .content-detailsb1 {
    font-family: "Your Chosen Font", sans-serif;
  }
  
  .img-container {
    width: 200px; /* Adjust the width to your preference */
    height: 200px; /* Adjust the height to your preference */
    object-fit: cover;
    border-radius: 10px; /* Add border-radius for rounded corners if desired */
  }