.searchhotline {
  width: 100%;
  max-width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  outline: none;
}

.searchhotline {
  width: 900px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.alert-label {
  font-size: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  background-color: red;
  box-shadow: 0 4px 10px rgba(168, 162, 162, 0.5);
  width: 340%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
  margin-top: 5px;
  color: white;
}

.alerts {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  margin-left: 0px;
  margin-top: -15px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(168, 162, 162, 0.5);
  height: 135px;
  width: 1280px; /* Adjust the width as needed */
  max-width: 1275px;
  font-size: 20px;
}

.hotlinelist {
  margin-right: 10px;
  background-color: #213555;
  width: auto;
  max-width: 700px;
  padding: 10px;
  height: 860px; /* Set a fixed height or adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  flex: 1;
  padding-right: 10px;
  position: sticky;
  top: 0;
  font-size: 18px;
}

.hotlinenumbers {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  background-color: white;
  width: auto;
  height: 65px;
  max-width: 700px;
  padding: 10px;
}
