.searchhotline {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    outline: none;
}

.searchhotline {
    width: 900px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.incidentdetails {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(168, 162, 162, 0.5);
    height: 175px;
    width: 930px;
    margin-left: -25px;
}

.hotlinelist {
    margin-right: 30px;
    background-color: #213555;
    width: auto;
    max-width: 700px; 
    padding: 10px;
    height: auto;
    flex: 1;
    overflow-y: auto; 
    padding-right: 10px;
    position: sticky;
    top: 0; 
}

.hotlinenumbers {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    background-color: white;
    width: auto;
    max-width: 700px; 
    padding: 10px;
}

