body {
    background-color: #ffffff;
}

.incident-text-voice {
    margin-left: 50px;
    font-size: 18px;
    color: #A8A2A2;
    font-family: 'Your Chosen Font', sans-serif;
}

.incident-label-voice {
    margin-left: 50px;
    color: #213555;
    font-size: 20px;
}

.incident-report-image {
    margin-left: 190px;
    margin-top: 30px;
}

.incident-report-label {
    margin-left: 645px;
    margin-top: -595px;
}

.incident-report-issue {
    height: 50vh;
    margin-right: 50%;
}

.incident-report-incident-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 500px;
    margin-left: 10px;
    height: 50px;
}

.incident-report-incident-date {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 115px;
    margin-top: auto;
}

.incident-report-incident-time {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 115px;
}

.incident-report-incident-location {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 500px;
    margin-left: 10px;
    margin-top: -50px;
    height: 50px;
}

.incident-report-incident-incident-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 500px;
    margin-left: 10px;
    height: 250px;
    box-sizing: border-box;
    margin-top: -20px;
}

.incident-report-incident-input,
.incident-report-incident-date,
.incident-report-incident-time,
.incident-report-incident-location,
.incident-report-incident-incident-details {
    font-family: 'Your Chosen Font', sans-serif;
}

.incident-button-submit {
    margin-top: 10px;
    text-align: center;
}

.incident-checkbutton {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.incident-button-anotherreport,
.incident-button-backhome {
    height: 30px;
    width: 400px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}