body {
    background-color: #ffffff;
}

.submit-text-voice {
    margin-left: 100px;
    font-size: 21px;
    color: #A8A2A2;
    font-family: 'Your Chosen Font', sans-serif;
}

.submit-label-voice {
    margin-left: 90px;
    color: #213555;
    font-size: 25px;
    width: 700px;
}

.submit-report-image {
    margin-left: 220px;
    margin-top: 30px;
}

.submit-report-label {
    margin-left: 640px;
    margin-top: -780px;
}

.submit-report-issue {
    height: 50vh;
    margin-right: 50%;
    margin-bottom: 330px;
    margin-left: 190px;
}

.submit-report-label-box {
    border: 2px solid #333;
    padding: 0%;
    display: inline-block;
    width: 1164px;
    background-color: #213555;
    margin-top: -500%;
    margin-left: 190px;
}

.submit-incident-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 98%;
    height: 90px;
    margin-left: 8px;
    font-size: 16px;
}

.submit-incident-date {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 130px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.submit-incident-time {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 130px;
    height: 80px;
    margin-left: 10px;
    font-size: 16px;
}

.submit-incident-location {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 98%;
    margin-left: 8px;
    margin-top: -20px;
    height: 90px;
    font-size: 16px;
}

.submit-incident-incident-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 98%;
    margin-left: 8px;
    height: 330px;
    box-sizing: border-box;
    margin-top: -20px;
    font-size: 16px;
}

.submit-incident-input,
.submit-incident-date,
.submit-incident-time,
.submit-incident-location,
.submit-incident-incident-details {
    font-family: 'Your Chosen Font', sans-serif;
}

.submit-button-submit {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.submit-checkbutton {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.submit-button-anotherreport,
.submit-button-backhome {
    height: 30px;
    width: 400px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}