body {
    background-color: #ffffff;
}

.text-voice {
    margin-left: 50px;
    font-size: 18px;
    color: #A8A2A2;
    font-family: 'Your Chosen Font', sans-serif;
}

.label-voice {
    margin-left: 50px;
    color: #213555;
    font-size: 20px;
}

.report-image {
    margin-left: 190px;
    margin-top: 30px;
}

.report-label {
    margin-left: 635px;
    margin-top: -595px;
}

.report-issue {
    height: 50vh;
    margin-right: 50%;
}

.report-label-box {
    border: 2px solid #333;
    padding: 0%;
    display: inline-block;
    width: 876px;
    background-color: #213555;
    margin-top: 5px;
}

.incident-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 850px;
    margin-left: 10px;
    height: 50px;
}

.incident-date {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 115px;
    margin-top: auto;
}

.incident-time {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 115px;
}

.incident-location {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 850px;
    margin-left: 10px;
    margin-top: -50px;
    height: 50px;
}

.incident-incident-details {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 5px #A8A2A2;
    box-sizing: border-box;
    width: 850px;
    margin-left: 10px;
    height: 250px;
    box-sizing: border-box;
    margin-top: -20px;
}

.incident-input,
.incident-date,
.incident-time,
.incident-location,
.incident-incident-details {
    font-family: 'Your Chosen Font', sans-serif;
}

.button-submit {
    margin-top: 10px;
    text-align: center;
}

.checkbutton {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-anotherreport,
.button-backhome {
    height: 30px;
    width: 400px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}