@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* * {
  box-sizing: border-box;
} */

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  font-weight: bold;
}
button:hover {
  color: #06c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  width: 100%;
  height: 100vh;
  border-right: 1px solid #ddd;
  background-color: #213555;
}

 /* {Announcement} */
.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: #FFFFFF;
  font-size: 120%;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
  border-radius: 3%;
  width: auto;
  margin-bottom: 1%;
  background-color: white;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
}
.app-sidebar-note button {
  color: crimson;
  font-weight: bold;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #d1cfcf;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #8DE1FC;
  color: black;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 100%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  /* background: rgba(0, 0, 0, 0.02); */
  background-color: #FFFFFF;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
  font-weight: 700;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.post-button {
  background-color: #213555;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  left: 65%;
  transform: translateX(-50%);
  padding: 15px 60px;
  font-size: larger;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.post-button:hover {
    background-color: #6fa9cf; /* Set the desired background color on hover */
    color: #213555;
}

.image-upload-button-container { 
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    color: #6fa9cf;
    font-weight: bold;
}
.upload-icon {
  margin-right: 10px; /* Adjust spacing between icon and text */
  margin-left: 10px;
  margin-top: 10px;
}

/* Add Font Awesome styles if not already included */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.image-upload-label {
    margin-top: 10px;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
}

.image-upload-button {
  background-color: #3498db; 
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.image-upload-button:hover {
  background-color: #2980b9; 
}

.AppContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

