.left-container {
    height: calc(100vh - 64px);
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 40px;
  }
  
  .header-text {
    font-weight: 800;
    font-size: 37;
    color: #213555;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 15px;
  }
  
  .image-container {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  
  .description {
    font-size: 18px;
    color: #a8a2a2;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .search-bar-paper {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    margin-right: 10px;
  }
  
  .input-base {
    flex: 1;
    margin-left: 10px;
  }
  
  .search-button {
    margin-left: 10px;
  }
  
  .search-button:hover {
    background-color: #BDBDBD; /* Change the color on hover */
    color: #213555;
  }