.forum-container{
  display: flex;

}
.con {
  width: 50vw;
  max-width: 450px; 
  margin-right: auto; 
  margin-left: 0;
  padding: 20px;
  flex-direction: column;
 background-color: #213555;
}

.para {
  font-size: 1.4em;
  font-weight: 450;
  color: #A8A2A2;
  text-align: justify;
}

.forum-title{
  color: aliceblue;
   font-size: 3em;
   font-weight: 700;
   text-align: center;

}

.forum-posts{
  flex:1;
  width: 100%; 
  height: 800px;
   overflow: auto;
}

.forum-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #213555;
  text-align: center;
}

.forum-popup2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #213555;
  text-align: left;
}